<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="./images/Favicon.png">
</head>

<body class="hangoutSecondaryImage">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/logout">
          Logout
        </a>
      </div>
    </div>
  </nav>
  <div class="containerWelcome">

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 Welcome">
        <h2>Check Out the Latest Hangouts <span class="member-name"></span></h2>
        <br>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <ul>
          {{#each Hangout}}
          <li>
            <p>
              {{this.HangoutInput}}
              {{this.HangoutComment}}

              {{!-- <button data-planid="{{this.id}}" class="delplan">Delete Plan!</button> --}}
            </p>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>

  </div>

  <br>
  <a class="btn btn-primary" id="postHangout" href="/newHangout">
    Post a New Hangout
  </a>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAejCVcVUkYiYvaLeQ8v84SSXfi4F30ucw&libraries=places"></script>
  <script src="../public/js/script.js"></script>
</body>

</html>